@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.top_img {
    background-image: url('../img/фон.png');
    background-repeat: inherit;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 47vw;
    min-height: 40vw;
}
.top_img_title {
    background-image: url('../img/надпис.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 63%;
    height: 28%;
    /* width: 61.25rem;
    height: 13rem; */
    margin: 0 auto;
    position: relative;
    top: 21%;
    right: 1%;
}

.main_obj {
    margin: 0 auto;
    width: 80%;
}
.main_title {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-family:"Inter";
    text-transform: uppercase;
}
.main_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.main_card {
    background-color: #231B0C;
    width: 26%;
    height: 28.75rem;
}
.main_card a{
    display: block;
    width: 100%;
    height: 100%;
}
.main_card:nth-child(1){
    background-image:url('../img/галерея.png'),url('../img/фото\ галереї.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 5%, 50% 75%;
    background-size: 10rem 3.74rem, 18.74rem  13.125rem;
    transition-duration: 500ms;
}
.main_card:nth-child(1):hover{
    background-image:url('../img/галерея.png'),url('../img/фото\ галереї.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 12%, 50% 75%;
    background-size: 10rem 3.74rem, 18.74rem  13.125rem;
    transition-duration: 500ms;
}
.main_card:nth-child(2){
    background-image:url('../img/спорт.png'),url('../img/фото\ спорту.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 5%, 50% 75%;
    background-size: 10rem 3.74rem, 18.74rem  13.125rem;
    transition-duration: 500ms;
}
.main_card:nth-child(2):hover{
    background-image:url('../img/спорт.png'),url('../img/фото\ спорту.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 12%, 50% 75%;
    background-size: 10rem 3.74rem, 18.74rem  13.125rem;
    transition-duration: 500ms;
}
.main_card:nth-child(3){
    background-image:url('../img/більше.png'),url('../img/фото\ інше.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 5%, 50% 75%;
    background-size: 10rem 3.74rem, 18.74rem  13.125rem;
    transition-duration: 500ms;
}
.main_card:nth-child(3):hover{
    background-image:url('../img/більше.png'),url('../img/фото\ інше.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 12%, 50% 75%;
    background-size: 10rem 3.74rem, 18.74rem  13.125rem;
    transition-duration: 500ms;
}
.main_img {
    margin: 2.5rem auto 2.5rem;
    background-image: url('../img/фото\ \(1\).png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height:48rem;
}


.bottom_line {
    background-color: #150F02;
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
}
.bottom_line_img {
    width:100%;
    height: 8rem;
}
.bottom_line_img a{
    display: block;
    width: 100%;
    height: 100%;
}
.bottom_line_img div:nth-child(1) {
    background-image: url('../img/розваги.png');
    background-repeat: no-repeat;
    background-size: contain;
    height:1.5rem;
    width: 10.5rem;
    position: relative;
    top: 35%;
    left: 30%;
}
.bottom_line_img div:nth-child(2) {
    background-image: url('../img/магазини.png');
    background-repeat: no-repeat;
    background-size: contain;
    height:1.5rem;
    width: 4.25rem;
    position: relative;
    top: 17%;
    left: 64%;
}
.bottom_line_img div:nth-child(3) {
    background-image: url('../img/ресторани.png');
    background-repeat: no-repeat;
    background-size: contain;
    height:1.5rem;
    width: 8.875rem;
    position: relative;
    top: 45%;
    left: 30%;
}
.bottom_line_img div:nth-child(4) {
    background-image: url('../img/мистецтво.png');
    background-repeat: no-repeat;
    background-size: contain;
    height:1.5rem;
    width: 3.5rem;
    position: relative;
    top: 27%;
    left: 64%;
}
.bottom_text_line {
    color: white;
    font-family: 'Roboto';
    font-weight: 500; /* на макеті 600,але 600 дуже жирне */
    font-size: 1.625rem;
    letter-spacing: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.475rem;
    text-align: center;
}
.bottom_color_line {
    margin: 0 auto;
    width: 20rem;
    height: 0.625rem;
    background-color: #FF6B00;
}
.img_links {
    margin: 1.5rem auto 0;
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
}
.img_links a{
    margin: auto ;
}